<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1、修饰符 ：lazy -->
    <input type="text" v-model.lazy="message">
    <h2>{{message}}</h2>

    <!-- 2、修饰符：number -->
    <input type="number" v-model="age">
    <h2>{{age}}-{{typeof age}}</h2>
    <input type="number" v-model.number="age1">
    <h2>{{age1}}-{{typeof age1}}</h2>

    <!-- 3、修饰符：trim -->
    <input type="text" v-model="name">
    <h2>你输入的名字是：{{name}}</h2>
    <!-- app.name 回车之后看见有空格 而浏览器可能做处理了所以看不到空格-->
  </div>
  
  <script src="../vue.js"></script>
  <script>
    const app=new Vue({
      el:'#app',
      data:{
        message:'你好，世界！',
        age:'',
        age1:'',
        name:''
      }
    })
  </script>
</body>
</html>