<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div id="app">
  <cpn></cpn>

  <cpn>
    <!-- 目的是获取子组件中的planguage -->
    <!-- 要求是template模板，2.5版本 -->
    <template slot-scope="slot">
      <!-- <span v-for="item in slot.data">{{item}} - </span> -->
      <span>{{slot.data.join(" - ")}}</span>
    </template>
  </cpn>

  <cpn>
    <template slot-scope="slot">
      <!-- <span v-for="item in slot.data">{{item}} * </span> -->
      <span>{{slot.data.join(" * ")}}</span>
    </template> 
  </cpn>
</div>

<template id="cpn">
  <div>
    <slot :data="pLanguage">
      <ul>
        <li v-for="item in pLanguage">{{item}}</li>
      </ul>
    </slot> 
  </div>
</template>

<script src="../vue.js"></script>
<script>
  const app=new Vue({
    el:'#app',
    data:{
      message:'你好，世界！',
    },
    components:{
      cpn:{
        template:`#cpn`,
        data(){
          return {
            pLanguage:['a','b','c','d','e','f']
          }
        }
      }
    }
  })
</script>
</body>
</html>